{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}

{% block page_content %}
<div class="edit-password-wrap form-wrapper">
    <form class="" method="post" action="/set_user_password">
        <h1>修改密码</h1>
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
        <div class="mb-3 form-group">
            <label for="user_type" class="form-label">用户类型</label>
            <select class="form-control" required id="user_type" name="user_type">
                <option value="student">学生</option>
                <option value="teacher">教师</option>
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="user_no" class="form-label">用户编号</label>
            <input type="text" class="form-control" id="user_no" name="user_no" required placeholder="请输入8位的编号">
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="form-label">新密码</label>
            <input type="password" class="form-control" id="password" name="password" required placeholder="请输入密码">
        </div>
        <button type="submit" class="btn btn-primary btn-block">修改</button>
        <div class="form-error-msg">
            {% if get_flashed_messages() %}
            <strong>Message: </strong>
            {% for item in get_flashed_messages() %}
            {{ item }}
            {% endfor %}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block page_scripts %}
<script>

</script>
{% endblock %}