{% extends 'base.html' %}

{% block title %}成绩查询{% endblock %}

{% block page_content %}
<div class="score-query-wrap table-wrapper">
    <div class="head">
        <span class="title">成绩查询</span>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search-input" type="search" placeholder="输入课程号" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 search-btn">搜索</button>
        </form>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">课程名称</th>
                <th scope="col">课程号</th>
                <th scope="col">学分</th>
                <th scope="col">学时</th>
                <th scope="col">任教老师</th>
                <th scope="col">成绩</th>
            </tr>
        </thead>
        <tbody>
            {% if tableList %}
            {% for key in tableList %}
            <tr class="item">
                <th scope="row">{{key.number}}</th>
                <td>{{key.course_name}}</td>
                <td>{{key.course_no}}</td>
                <td>{{key.credit}}</td>
                <td>{{key.course_hour}}</td>
                <td>{{key.teacher_name}}</td>
                {% if key.grade  %}
                <td>{{key.grade}}</td>
                {% else %}
                <td>暂无</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <!-- 分页按钮 -->
    <div class="page-navigation"></div>

</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename="js/page.js") }}"></script>
<script src="{{ url_for('static', filename="js/table.js") }}"></script>
<script>
    get_table_url = '/score_query'
</script>
{% endblock %}