{% extends 'base.html' %}

{% block title %}Enter Grades{% endblock %}

{% block page_content %}
<div class="add-score-wrap table-wrapper">
    <div class="head">
        <span class="title">Enter Grades</span>
        <select class="form-control select-type" required>
            <option value="" selected disabled>--Select Course--</option>
        </select>
        <div style="display: flex;">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Enter Student ID" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="return false;">Search</button>
            </form>
            <button type="button" class="btn btn-outline-dark ml-2" onclick="export_excel()">Export Student Grades</button>
        </div>
    </div>

    <table class="table table-hover" id="formTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">College</th>
                <th scope="col">Major</th>
                <th scope="col">Grade</th>
                <th scope="col">Score</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename="js/jquery.table2excel.min.js") }}"></script>
<script>
    get_table_url = '/add_score'
    var course_no_ = ''
    var grade = 0
    var stu_select_course_length = 0

    $(function () {
        $('tbody').html(`<tr class='none'>
            <td colspan=9>Please select a course<td>
        </tr>`)
        getTeacherCourses()
    })
    // 获取所有课程
    function getTeacherCourses() {
        $.ajax({
            type: "get",
            url: '/getTeacherCourses',
            data: '',
            dataType: "json",
            async: false,
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    $('.select-type').append(
                        `<option value="${item.course_no}" onclick="handleSelectCourse(${item.course_no})">${item.course_name}</option>`
                    )
                })
            }
        });
    }

    // 转换课程
    $('.select-type').change(function () {
        course_no_ = $(this).val()
        getCourseAll(course_no_)
    })

    // 获取所有已选课学生
    function getCourseAll(course_no) {
        $('tbody').empty()
        $.ajax({
            type: "get",
            url: get_table_url + '/getCourseAll/' + course_no,
            dataType: "json",
            async: false,
            success: function (data) {
                console.log(data);
                stu_select_course_length = data.length
                if (data.length == 0) {
                    $('tbody').html(`<tr class='none'>
            <td colspan=9>no student
            <td>
        </tr>`)
                    return false
                }
                $.each(data, function (i, item) {
                    $('tbody').append(`
        <tr>
            <th scope="row">${item.number}</th>
            <td>${item.course_name}</td>
            <td>${item.stu_no}</td>
            <td>${item.stu_name}</td>
            <td>${item.stu_college}</td>
            <td>${item.stu_major}</td>
            <td>${item.in_year}</td>
            <td>${item.grade?item.grade:'not enter anything'}</td>
            <td>
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-2 add-score-input" type="text" placeholder="Enter Grade">
                    <button class="btn btn-outline-success my-2 my-sm-0"
                        onclick="inputScore(${item.stu_no},${course_no_})">Yes</button>
                </div>
            </td>
        </tr>`)
                })
            }
        });

        $('.add-score-input').change(function (e) {
            grade = e.target.value
        })

    }

    // 修改成绩
    function inputScore(stu_no, course_no) {
        if (grade == '') {
            $('.modal').show().find('.modal-title').text('Wrong')
            $('.modal').find('.modal-body p').text('cant be Null')
            return false
        }
        $.ajax({
            type: "post",
            url: get_table_url + '/inputGrade',
            dataType: "json",
            headers: {
                "X-CSRFToken": csrf_token,
            },
            data: {
                stu_no,
                course_no,
                grade
            },
            async: false,
            success: function (data) {
                console.log(data);
                if (data.code == 200) {
                    getCourseAll(course_no)
                }
            }
        })
    }

    // 弹框
    $('.modal-close-btn').click(function () {
        $('.modal').hide()
    })
    $('.modal-confirm-btn').click(function () {
        $('.modal').hide()
    })

    // 导出excel
    function export_excel() {
        //判断表格是否存在且不为空表格
        if (stu_select_course_length != 0) {
            $('table').table2excel({
                exclude: ".noExl", // 不导出的class
                filename: course_no_ + "Grade", // 导出的文件名
                fileext: ".xls", // 文件类型
                exclude_img: true, // 是否导出图片
                exclude_links: false, // 是否导出超链接
                exclude_inputs: true, // 是否导出输入框中的内容
                preserveColors: true // 是否导出背景颜色
            });
        } else {
            $('.modal').show().find('.modal-title').text('Wrong')
            $('.modal').find('.modal-body p').text('No Student')
        }
    }

    // 模糊搜索
    $('.search-input').change(function (e) {
        var search = e.target.value
        if (search.trim() == '') {
            $("tbody tr").show()
        } else {
            $("tbody tr").hide()
            $("tbody tr td").filter(":contains(" + search.trim() + ")").parents('tr').show()
        }
    })
</script>
{% endblock %}