{% extends 'base.html' %}

{% block title %}Add Course{% endblock %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-select.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-select.css.map')}}">
{% endblock %}

{% block page_content %}
<div class="course-setup-wrap form-wrapper">
    <form class="" method="post" action="/add_teacher_course/add_course">
        <h1>Add Course</h1>
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
        <div class="mb-3 form-group">
            <label for="college" class="form-label">College</label>
            <select class="selectpicker form-control" data-width="100%" required id="college" name="college">
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="courses_no" class="form-label">All Courses</label>
            <select class="selectpicker form-control" data-width="100%" required id="courses_no" name="courses_no">
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="course_capacity" class="form-label">Course Capacity</label>
            <input type="text" class="form-control" id="course_capacity" name="course_capacity" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add</button>
        <div class="form-error-msg">
            {% if get_flashed_messages() %}
            <strong>Message: </strong>
            {% for item in get_flashed_messages() %}
            {{ item }}
            {% endfor %}
            {% endif %}
        </div>
    </form>

</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename="js/bootstrap-select.js") }}"></script>
<script>
    $.fn.selectpicker.Constructor.BootstrapVersion = '4';

    $(function () {
        college = getCollege()
        courses = getAllCourses()
        initCollege()
        initCourses()
    })

    // 选项改变
    $('#college').change(function () {
        $('#courses_no').empty()
        $('#courses_no').find("option:not(:first)").remove();
        $('#courses_no').selectpicker('refresh');

        var college_ = $('#college').val()
        initCourses(college_)
    })
</script>
{% endblock %}