{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block page_content %}
<div class="edit-password-wrap form-wrapper">
    <form class="" method="post" action="/set_user_password">
        <h1>Change Password</h1>
        
        <div class="mb-3 form-group">
            <label for="user_type" class="form-label">User Type</label>
            <select class="form-control" required id="user_type" name="user_type">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="user_no" class="form-label">User Number</label>
            <input type="text" class="form-control" id="user_no" name="user_no" required placeholder="Please enter an 8-digit number">
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password" name="password" required placeholder="Please enter password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Modify</button>
        <div class="form-error-msg">
            {% if get_flashed_messages() %}
            <strong>Message: </strong>
            {% for item in get_flashed_messages() %}
            {{ item }}
            {% endfor %}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}


{% block page_scripts %}
<script>

</script>
{% endblock %}