{% extends 'base.html' %}

{% block title %}Professional Management{% endblock %}

{% block page_content %}
<div class="managing-major-wrap form-wrapper">
    <form class="" method="post" action="/manage_edit">
        <h1>Major Management</h1>
        <div class="form-error-msg">
            {% if get_flashed_messages() %}
            <strong>Message: </strong>
            {% for item in get_flashed_messages() %}
            {{ item }}
            {% endfor %}
            {% endif %}
        </div>
        
        <input type="hidden" name="type" id="type" value="{{type}}">
        <div class="mb-3 form-group all-college">
            <label for="college_no" class="form-label">All Colleges</label>
            <select class="form-control" data-width="100%" required id="college" name="college_no">
            </select>
        </div>
        <div class="mb-3 form-group all-major">
            <label for="major" class="form-label">All Majors</label>
            <select class="form-control" data-width="100%" required id="major" name="major">
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="major_no" class="form-label">Major Number</label>
            <input type="text" class="form-control" id="major_no" name="major_no" required placeholder="Please enter a 6-digit major number"
                minlength="6" maxlength="6">
        </div>
        <div class="mb-3 form-group">
            <label for="major_name" class="form-label">Major Name</label>
            <input type="text" class="form-control" id="major_name" name="major_name" required placeholder="Please enter the major name">
        </div>

        <button type="submit" class="btn btn-primary btn-block manage-edit-btn">Edit</button>
        <button type="" class="btn btn-success btn-block manage-add-btn" onclick="handleAdd();return false">Add</button>
        <button type="" class="btn btn-danger btn-block manage-delete-btn"
            onclick="handleDelete();return false">Delete</button>
    </form>
</div>
{% endblock %}


{% block page_scripts %}
<script>
    var colleges = []
    var majors = []
    var college_no = ''
    var major_no = ''
    var major_name = ''
    var is_add = false

    $(function () {
        colleges = getCollege()
        majors = getMajor()
        render(colleges, majors)
    })

    // 渲染数据
    function render(colleges, majors) {

        $.each(colleges, function (i, c) {
            if (i === 0) {
                $('#college').append(`<option value="${c.college_no}" selected>${c.college_name}</option>`)
                $.each(majors, function (index, m) {
                    if (c.college_no == m.college_no) {
                        $('#major').append(
                            `<option value="${m.major_no}">${m.major_name}</option>`)

                        if ($('#major_no').val() == '' && $('#major_name').val() == '') {
                            $('#major_no').val(m.major_no)
                            $('#major_name').val(m.major_name)
                        }
                    }
                })
            } else {
                $('#college').append(`<option value="${c.college_no}">${c.college_name}</option>`)
            }
        })

    }

    $('#major_no').change(function (e) {
        major_no = e.target.value
    })
    $('#major_name').change(function (e) {
        major_name = e.target.value
    })

    // 添加
    function handleAdd() {
        is_add = true
        $('.manage-edit-btn').hide()
        $('.manage-delete-btn').hide()
        $('.all-major').hide()
        $('#major_no').val('')
        $('#major_name').val('')

        if (major_no == '' || major_name == '') return false
        college_no = $('#college').val()
        $.ajax({
            type: "post",
            url: '/manage_add',
            data: {
                college_no,
                major_no,
                major_name,
                type: 1
            },
            headers: {
                "X-CSRFToken": csrf_token,
            },
            dataType: "json",
            async: false,
            success: function (data) {
                console.log(data);
                is_add = false
                $('.modal').show().find('.modal-title').text('Message')
                $('.modal').find('.modal-body p').text(data.msg)
            }
        })
    }

    // 删除
    function handleDelete() {
        major_no = $('#major_no').val()
        major_name = $('#major_name').val()
        if (major_no == '' || major_name == '') {
            $('.modal').show().find('.modal-title').text('Message')
            $('.modal').find('.modal-body p').text('Cant be Null')
            return false
        }
        $.ajax({
            type: "post",
            url: '/manage_delete',
            data: {
                major_no,
                type: 1
            },
            headers: {
                "X-CSRFToken": csrf_token,
            },
            dataType: "json",
            async: false,
            success: function (data) {
                console.log(data);
                $('.modal').show().find('.modal-title').text('Message')
                $('.modal').find('.modal-body p').text(data.msg)
                if (data.code == 200) {
                    window.location.reload()
                }
                setTimeout(() => {
                    $('.modal').hide()
                }, 5000);
            }
        })
    }

    // 选项改变
    $('#college').change(function () {
        if (is_add == true) return false
        $("#major").empty()
        $('#major_no').val('')
        $('#major_name').val('')
        var college_ = $("#college").val();

        $.each(majors, function (i, m) {
            if (college_ == m.college_no) {
                $('#major').append(
                    `<option value="${m.major_no}">${m.major_name}</option>`)
                if ($('#major_no').val() == '' && $('#major_name').val() == '') {
                    $('#major_no').val(m.major_no)
                    $('#major_name').val(m.major_name)
                }
            }
        })
        if ($('#major').val() == null && $('#major option').length == 0) {
            $('#major').append(
                `<option value="" disabled selected>--No major--</option>`)
        }

    })
    $('#major').change(function () {
        var major_ = $("#major").val();

        $.each(majors, function (i, m) {
            if (major_ == m.major_no) {
                $('#major_no').val(m.major_no)
                $('#major_name').val(m.major_name)
            }
        })

    })

    // 弹框
    $('.modal-close-btn').click(function () {
        $('.modal').hide()
    });
    $('.modal-confirm-btn').click(function () {
        $('.modal').hide()
    })
</script>
{% endblock %}